.parent
{
    display: flex;
    flex-direction: column;
    background-color: green;
    margin: auto;
    padding: 60px;
}

.child
{
    display: flex;
    background-color: indianred;
    padding: 10px;
}

.FlexContainer
{
    display: flex;
    flex-direction: column;
    background-color: gray;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}